html {
  min-height: 100%;
  display: grid;
}

body {
  color: white;
  background-color: #142C4D;
  margin: auto;
}

h3 {
  width: 100%;
  padding: 10px 10px;
  margin: auto;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
}

input[type=text] {
  width: 70%;
  padding: 5px 0px;
  background-color: #bcebe9;
  border: solid 3px;
  border-color: #b3b3b3;
  border-radius: 12px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  transition: width 0.4s ease-in-out;  
}

input[type=text]:focus {
  width: 100%;
  border-radius: 2px;
  background-color: #e9f5f4;
  color: #142C4D;
  padding: 5px 2px;
}

input[type=submit] {
  background-color: #0B666A;
  border: none;
  border-radius: 12px;
  color: #97FEED;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align: center;
}

input[type=submit]:hover {
  background-color: #35A29F;
  color: #FFFFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  font-style: italic
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
  font-style: italic
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
  font-style: italic
}