html {
  min-height: 100%;
  display: grid;
}

body {
  color: white;
  background: rgb(6,140,193);
  background: linear-gradient(47deg, rgba(6,140,193,1) 0%, rgba(142,61,175,1) 49%, rgba(30,142,190,1) 100%); 
  margin: auto;
}

input[type=text] {
  width: 70%;
  padding: 5px 0px;
  background: rgb(242,221,230);
  background: linear-gradient(0deg, rgba(242,221,230,1) 0%, rgba(208,229,254,1) 100%);   
  border: solid 3px;
  border-color: #b3b3b3;
  border-radius: 12px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  transition: width 0.4s ease-in-out;  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
}

input[type=text]:focus {
  width: 100%;
  border-radius: 2px;
  background: #e9f5f4;
  color: #142C4D;
  padding: 5px 2px;
}

input[type=submit] {
  background-color: #0B666A;
  border: none;
  border-radius: 12px;
  color: #97FEED;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align: center;
}

input[type=submit]:hover {
  background-color: #35A29F;
  color: #FFFFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  font-style: italic
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
  font-style: italic
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
  font-style: italic
}

.postcodelabel {
  font-family: 'Roboto Mono'; 
  font-weight: medium;
}